/* 
    Document   : main
    Created on : Nov 11, 2012, 1:43:04 AM
    Author     : Nick
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#loginContainer { position: absolute; top: 25%; right: 25%; bottom: 25%; left: 25%; padding: 25px; margin: 25px; }
#logonBox { position: absolute; top: 20%; right: 20%; bottom: 25%; left: 20%; padding: 25px; margin: 25px; }
