<div id="register">
	<h1>Create an account</h1>
	<form name="register" action="register.php" method="POST">
		<p>
			<label for="Email">Email</label>
			<input type="text" name="email" class="input" />
		</p>
		<p>
			<label for="password1">Password</label> 
			<input type="password" name="password1" class="input" />
		</p>
		<p>
			<label for="password2">Verify Password</label> 
			<input type="password" name="password2" class="input" />
		</p>
		<p>
			<label for="firstname">First Name</label> 
			<input type="text"  name="firstname" class="input" />
		</p>
		<p>
			<label for="lastname">Last Name</label> 
			<input type="text"  name="lastname" class="input"/>
		</p>				
		<p>
			<input type="hidden" name="register_action" value="1">
			<input type="submit" value="Register!" class="button" />
		</p>
	</form> 
</div>
